/* Styles for the page overall */
*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    font-size:18px;
}
body{
    background: grey;
    text-align:center;
    margin: 4px;
}
#root {
    max-width: 1200px;
    margin: 0 auto;
    background: grey;
    display: flex;
    flex-direction: horizontal;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* each card container*/
  .card {
    margin: 1rem;
    border: 1px solid black;
    width: 20rem;
    background: black;
    text-align: center;
    align: center;
  }
  /*character names*/
  .contact{
    background:white;

  }
  /*character avatars*/
  .picture{
      width: 200px;
      height: 200px;
      margin: 2%;
      
  }

  /*address content */
  .address{
      display:flex;
      flex-direction: horizontal;
      background: white;
  }
  .address__bold{
     
      font-weight: bold;
  }
  .address__planet{
    
  }

  /*species content*/
  .species{
      display:flex;
      flex-direction: horizontal;
      background: white;
  }
  .species__bold{
      font-weight: bold;
      
  }
  .species__type{

  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }