*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    font-size:16px;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }

  .contact{
    background: grey;
  }

  .picture{
      width: 200px;
      height: 200px;
  }
  .address{
      display:flex;
      flex-direction: horizontal;
  }

  .address__bold{
      text-align: left;
  }

  .address__planet{
      text-align: right;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }