/* Styles for the page overall */
*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    font-size:16px;
    color: white;
}
body{
    background-image: linear-gradient(grey, white);
    text-align:center;
    margin: 4rem;
    align: center;
}

h1{
    font-size: 3.5rem;
    color: black;
}
#root {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* each card container*/
  .card {
    margin: 1rem;
    padding: 1rem 0rem 1rem 0rem;
    border: 3px solid black;
    background: #262525;
    text-align: center;
    align: center;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .35);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }

  .card:hover{
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .45);
    transform: translate3D(0, -2px, 0);
  }
  
  /*character names*/
  .contact{
    font-size: 2rem;
    margin: 1rem 0rem 1rem 0rem;

  }
  /*character avatars*/
  .picture{
      width: 250px;
      height: 250px;
      margin: 2%;
      border-radius: 30px;
      margin-top: 1rem;
      border: 3px solid black;
  }

  /*address content */
  .address{
    
  }
  .address__bold{
      font-weight: bold;
      font-size: 1.2rem;
  }
  .address__planet{
    
  }

  /*species content*/
  .species{
    
      
  }
  .species__bold{
      font-weight: bold;
      font-size: 1.2rem;
  }
  .species__type{
      margin-bottom: 1rem;

  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }